@import "../reset.scss";
$notice-bg1: #eeeeee;
$notice-fg1: tomato;
$notice-fsz: 20px;

@mixin content() {
	text-align: center;
	background-color: $notice-bg1;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	color: $notice-fg1;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.363);
	font-size: $notice-fsz;
}

.notice {
	margin: 10px 0;
	display: flex;
	justify-content: center;
	.content {
		@include content();
	}
	.content-red {
		@extend .content;
		background-color: red;
	}
	.content-blue {
		@extend .content;
		background-color: blue;
	}
}
